{% extends 'base.html' %}

{% block title %}Create Department{% endblock %}

{% block content %}
    <h2>Create Department</h2>
    <form method="POST">
        {{ form.hidden_tag() }}

        <label for="name">Name</label>
        {{ form.name(class="form-input") }}
        {{ form.errors.name[0] if form.errors.name else '' }}

        <button type="submit" class="btn btn-primary">Create</button>

        {% with messages = get_flashed_messages(with_categories=true) %}  
        {% if messages %}    
        {% for category, message in messages %}      
        <div 
            class="alert alert-{{ category }}">{{ message }}
        </div>    
        {% endfor %}  
        {% endif %}{% endwith %}
    </form>
{% endblock %}
